.mat-form-field{
	margin: 5px;
}

.mat-form-field-wrapper {
	padding-bottom: 2px;
}

.mat-fab {
	margin: 10px;
}

.mat-divider {
	margin-top: 16px;
	margin-bottom: 16px;
}

h2{
	margin-top: 10px;
	margin-bottom: 0;
}

.row{
	display: inline-block;
}

.row-space-between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}