<div class="container">
	<p>trainings works!</p>
			<mat-form-field>
				<mat-label>Exercice</mat-label>
				<input matInput type="text" placeholder="Ex. Squat">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Poids</mat-label>
				<input matInput type="number" placeholder="Ex. 60">
			</mat-form-field>

			<mat-form-field>
				<mat-label>Nombre de séries</mat-label>
				<input matInput type="number" placeholder="Ex. 4">
			</mat-form-field>

			<button mat-fab color="primary" aria-label="Ajouter l'exercice" (click)="onClick()">
				<mat-icon>add</mat-icon>
			</button>

			<mat-divider></mat-divider>

			<div *ngIf="!isLoading; else loading">
				<p *ngFor="let exercice of fakeExercices">{{exercice.name}}</p>
			</div>

			<ng-template #loading>
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</ng-template>

	<app-trainings-table></app-trainings-table>

</div>
